@model List<Provincia>

    <h1 style="color:cadetblue">CATASTRO SERVICE</h1>

    <ul class="list-group">
       @foreach (Provincia prov in Model)
    {
         <li class="list-group-item" style="color:coral">
             @prov.Nombre
             <a asp-controller="Catastro" asp-action="Municipios" asp-route-provincia="@prov.Nombre" >Municipios</a>
        </li>
        
    }
    </ul>